ol.days
  - @days.each do |day|
    li.day
      h2
        = l day.date, format: '%A, der %d.%m.%Y'
      ol.menus class="small-block-grid-#{day.menus.size}"
        - day.menus.each_with_index do |menu, i|
          li.menu
            h3 Menu ##{i + 1}
            ol.meals
              - menu.meals.each do |meal|
                li = meal.name

= link_to "Neues Angebot erstellen", new_offering_path

/ h2 Montag, den 23.09.2013
/ ul.menus.small-block-grid-2
/   li.menu
/     h3 Menu #1
/     ol.meals
/       li.meal Brokkolisuppe
/       li.meal Spaghetti Bolognese
/       li.meal Aprikosenkompott
/   li.menu
/     h3 Menu #2
/     ol.meals
/       li.meal Selleriesalat
/       li.meal Hackbraten
/       li.meal Obstsalat


/ h2 Dienstag, den 24.09.2013
/ ul.menus.small-block-grid-3
/   li.menu
/     h3 Menu #1
/     ol.meals
/       li.meal Brokkolisuppe
/       li.meal Spaghetti Bolognese
/       li.meal Aprikosenkompott
/   li.menu
/     h3 Menu #2
/     ol.meals
/       li.meal Selleriesalat
/       li.meal Hackbraten
/       li.meal Obstsalat
/   li.menu
/     h3 Menu #3
/     ol.meals
/       li.meal Selleriesalat
/       li.meal Hackbraten
/       li.meal Obstsalat
