h1 Service-Tickets

h4 Offene Tickets

.tickets.opened
  = render partial: "tickets", locals: {tickets: @tickets[:opened]}

h4 Geschlossene Tickets

.tickets.closed
  = render partial: "tickets", locals: {tickets: @tickets[:closed]}

= link_to "Neues Ticket erstellen", new_ticket_path
