@import "foundation_and_overrides";
ul, ol {
  list-style-type: none;
}

@import "offerings";
@import "tours";
@import "dashboard";

section.main {
  min-height: 100%;
  margin-bottom: -142px;
  &:after {
    content: "";
    display: block;
  }
}

footer, section.main:after {
  height: 142px;
}

footer {
  margin-top: 2em;
  padding: 2em;
  background-color: #111111;
  color: #fff;
}
