.ticket-title {
  margin-bottom: 0;
}

.ticket-subtitle {
  margin-top: 0;
}

.ticket-order-title {
  margin-top: 0;
}

.ticket-order-subtitle {
  margin-top: 0;
}

.vcard {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
