#manage-tours {
  .inplace-edit {
    margin-top: -1em;
  }
  .tour-header {
    margin-bottom: 1.5em;
    .header {
      margin-top: -0.3em;
    }
  }

  .tour {
    margin-bottom: 1.5em;
  }

  .customers {
    margin-top: -1.5em;
    margin-bottom: 1em;
    max-height: 200px;
    overflow: scroll;
    table {
      margin-bottom: 0;
      width: 100%;
    }
  }
}

li.station {
  list-style-type: decimal;
}

.tour-list {
  text-align: center;
  li {
    display: inline-block;
    margin-right: 1em;
  }
}

.tour {
  .driver-select {
    margin-top: -1.5em;
    margin-bottom: 2em;
  }
  .tour-links {
    display: block;
    margin-top: -1em;
    margin-bottom: 1em;
  }
}

i.delivered, i.loaded {
  font-size: 1.75em;
}

i.delivered {
  color: rgb(9, 175, 9);
}

i.loaded {
  color: rgb(252, 147, 14);
}
