#manage-tours {
  .inplace-edit {
    margin-top: -1em;
  }
  .tour-header {
    margin-bottom: 1.5em;
    .header {
      margin-top: -0.3em;
    }
  }

  .tour {
    margin-bottom: 1.5em;
  }
}

.tour {
  li.station {
    list-style-type: decimal;
  }
  .driver-select {
    margin-top: -1.5em;
    margin-bottom: 2em;
  }
}