#manage-tours {
  .inplace-edit {
    margin-top: -1em;
  }
  .tour-header {
    margin-bottom: 1.5em;
    .header {
      margin-top: -0.3em;
    }
  }

  .station {
    list-style-type: decimal;
  }
}
